<h2>Edit Issue {{ issue._id }}</h2>

<form  method="POST" action="/issues/{{ issue._id }}?_method=PUT">

    <div class="form">
        <label for="description">Issue Description</label>
        <input type="text" id="description" name="description" value="{{ issue.description }}">
    </div>

    <div class="form">
        <label for="status">Issue Status</label>
        <input type="text" id="status" name="status" value="{{ issue.status }}">
    </div>

    <div class="form">
        <label for="priority">Issue Priority</label>
        <input type="text" id="priority" name="priority" value="{{ issue.priority }}">
    </div>

    <input type="submit" class="btn btn-s" value="Update Issue" />

</form>