<h2>Issues List</h2>
{{#each issues}}
<ul>
    <li class="issueLine">{{ id }}</li>
    <li class="issueLine">{{ description }}</li>
    <li class="issueLine">{{ created_at }}</li>
    <li class="issueLine">{{ status }}</li>
    <li class="issueLine">{{ priority }}</li>
</ul>
{{/each }} 